
.cursor-pointer{
  cursor: pointer;
}
.cursor-move{
  cursor: move;
}

.bg1{
  background-color: #d0cdcd29 !important;
}
.custom-shadow {
  box-shadow: 0 2px 10px #003791;
}
.custom-shadow-1 {
  box-shadow: 0 1px 5px #0f00916e;
}

.btn1{
  background-color: white !important;
}
.btn1:hover{
  background-color: #00389120 !important;
}
.btn2{
  background-color: #00389120 !important;
}
